.split{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.allPitches{
    width: 50%;
}

.favPitches{
    width: 50%;
}

.searchBar{

}

h4{
    margin-bottom: 0 !important;
    padding: 0;
}