.aboutContainer{
    height: 100vh;
    background-color: var(--clr-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutTitle{
    text-align: center;
}

.aboutBodyContent{
    padding: 0 2em;
}
