h3 {
    font-family: "Arial";
    /*-webkit-text-stroke-width: 2px;*/
    /*-webkit-text-stroke-color: black;*/
    color: black;
}
label {
    font-family: "American Typewriter";
    font-size: 20px;
}

.sidebar{
    background: url("https://coolbackgrounds.io/images/backgrounds/index/sea-edge-79ab30e2.png");
    background-size: cover;
    border: 1px black;
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    position: absolute;

}

button:hover{
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    transform: scale(1.1);
    position:relative;
    z-index:5;
    cursor:pointer;
}

.backgroundCork{
    background: url("https://coolbackgrounds.io/images/backgrounds/index/sea-edge-79ab30e2.png");
    max-height: 90vh;
    overflow: scroll;
}

.makeThisScroll {
    height: 90vh;
    overflow: scroll;
    padding-top: 10px;
    padding-right: 40px;
    background: url("https://cdn.trendhunterstatic.com/thumbs/cool-backgrounds.jpeg");
    background-size: cover;
}
