.App {
  text-align: center;
}
.banner {
  background-image: url("https://image.shutterstock.com/image-vector/cats-banner-260nw-441292912.jpg");
  height: 15vh;
  display: flex;
  background-size: contain;
  background-blend-mode: lighten;
  background-color: rgba(255,255,255,0.6);
  align-items: flex-start;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navButton:hover {
  background-color: lightblue;
  border-style: solid;
  border-width: 1px;
  color: black;
  font-size: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
