
.App {
  text-align: center;
}

.banner {
  background-image: url("https://image.shutterstock.com/image-vector/cats-banner-260nw-441292912.jpg");
  height: 18vh;
  display: flex;
  background-repeat: no-repeat;
  background-size: contain;
  background-blend-mode: lighten;
  background-color: rgba(255,255,255,0.6);
  align-items: flex-start;
  justify-content: center;
}


:root{
  --clr-text: #183a1d;
  --clr-primary: #fefbe9;
  --clr-secondary: #e1eedd;
  --clr-accent: #f6c453;

  --ff-title: 'Italiana', serif;
  --ff-serif: 'Roboto', sans-serif;
}

html{
  box-sizing: border-box;
  font-family: var(--ff-serif);
  color: var(--clr-accent);
  font-size: 1.125rem;
}