
.App {
  text-align: center;
}

.banner {
  background-image: url("https://image.shutterstock.com/image-vector/cats-banner-260nw-441292912.jpg");
  height: 15vh;
  display: flex;
  background-size: contain;
  background-blend-mode: lighten;
  background-color: rgba(255,255,255,0.6);
  align-items: flex-start;
  justify-content: center;
}


:root{
  --clr-text: #183a1d;
  --clr-primary: #fefbe9;
  --clr-secondary: #e1eedd;
  --clr-accent: #f6c453;

  --ff-title: 'Italiana', serif;
  --ff-serif: 'Roboto', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


  --ff-title: 'Italiana', serif;
  --ff-serif: 'Roboto', sans-serif;
}

html{
  box-sizing: border-box;
  font-family: var(--ff-serif);
  color: var(--clr-accent);
  font-size: 1.125rem;
}


/* .navButton:hover {
  background-color: lightblue;
  border-style: solid;
  border-width: 1px;
  color: black;
  font-size: 20px; */

/*Nav bar*/
.nav-container{
  padding: 0 0 0 1em;
  display: flex !important;
  justify-content: space-between !important;
  background-color: var(--clr-secondary);
  color: var(--clr-text);

}

.navbar-text{
  padding: 0 0 0 1em;
  text-decoration: none;
  color: var(--clr-text) !important;
  margin-right: 0;
}
.navbar-text:hover,
.navbar-text:focus{
  text-decoration: none;
  color: var(--clr-accent) !important;
  margin-right: 0;
}